nav {
    display: flex;
    background: linear-gradient(to right, orange, yellow);
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.281);
}

nav a {
    text-decoration: none
}

nav a:active {
    color: maroon;
}

nav .logo {
    padding: 0 1rem;
}

nav .space {
    flex-grow: 1;
}

nav ul {
    display: flex;
    padding: 0;
}



nav ul li {
    list-style: none;
    padding: 0% 1rem;
}